*.egg-info
*.pot
*.py[co]
.tox/
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
tests/coverage_html/
tests/.coverage
build/
tests/report/
portfoliosite/media/
db.sqlite3

node_modules/
portfolioVEnv/

.pgpass
