ul:has(.writing-item, .writing-tag) {
    list-style-type: none;
    padding-left: 0;
}

.writing-item {
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
}

.writing-item__link {
    text-decoration: none;
}

.writing-item__link:hover {
    text-decoration: underline;
}

.writing-item__authors {
    font-size: 1.2rem;
}

.writing-item__tags {
    display: flex;
    flex-direction: row;
    gap: 0 0.75rem;
}