{% comment "Overview" %}
    This is a base html file that can be used by templates which connects
    to bootsrap and any other necessary site-wide css, while creating a navigation bar
    and footer.

    The head-add block can be used to add things to the html head.

    The title block can be used to add a page title. Default is "Micah Huff's Site."

    The main-content block can be used to add content to the center of the page, between the
    navigation and the footer
{% endcomment %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/core.css' %}" rel="stylesheet" >

    {% block head-add %}
    {% endblock %}


    <title>{% block title %} Micah Huff's Site {% endblock %}</title>
  </head>
  <body class="d-flex flex-column min-vh-100 text-white bg-primary">
    
    {% include "main_menu.html" %}

    {% block main-content %}
    {% endblock %}

    <!-- ******************Footer******************** -->
    <footer class="footer mt-auto py-2 bg-dark">
            <img src="{% static 'img/sitelogo.png' %}" alt="logo" class="mx-auto d-block"/>
    </footer>
    <!-- ******************End Footer******************** -->

    <!-- ********Script Linking ****************** -->
    <script src="{% static 'js/bootstrap.min.js' %}" ></script>

  </body>
</html>
