{% load static %}
{% load version %}
<!-- ***********Navbar************* -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-5">
    <div class="container-fluid">
        <a class="navbar-brand d-md-none" href="{% url 'resume:index' %}">
        <img src="{% static 'img/sitelogo.png' %}" alt="logo"/>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerTarget" aria-controls="navbarTogglerTarget" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerTarget">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
            <li class="nav-item h4 pe-4 ps-4">
            {% url 'resume:index' as index %}
            <a class="nav-link {% if request.path == index %}active{% endif %}" aria-current="page" href="{{ index }}">Home</a>
            </li>
            <li class="nav-item h4 pe-4 ps-4">
            {% url 'resume:resume' as resume %}
            <a class="nav-link {% if request.path == resume %}active{% endif %}" href="{{ resume }}">Resume</a>
            </li>
            <li class="nav-item d-none d-md-block pe-4 ps-4">
            <a class="nav-link" href="{% url 'resume:index' %}">
                <img src="{% static 'img/sitelogo.png' %}" alt="logo"/>
            </a>
            </li>
            <li class="nav-item h4 pe-4 ps-4">
            {% url 'music_player:player' as music_player %}
            <a class="nav-link" href="{% url 'music_player:player' %}">Music</a>
            </li>
            <li class="nav-item h4 pe-4 ps-4">
            {% url 'writing:writing_landing' as writing %}
            <a class="nav-link {% if request.path == writing %}active{% endif %}" href="{{ writing }}">Writing</a>
            </li>
        </ul>
        </div>

    </div>
</nav>
<!-- **************** End of Navbar ************************** -->