{% comment "Overview" %}
    This is a generalized accordion layout. It expects a list of categories
    called "accordion_categories" in which each category contains a name
    and a list of items (category.items). Each item should have a value called
    entry, which will be placed under each accordion category.

    This template accepts markdown via the markdown_extras template tag.
{% endcomment %}
{% if accordion_categories %}
  {% load markdown_extras %}
  <div class="row mb-3">
    <!-- According Start -->
    <div class="accordion" id="accordionGen">
      {% for category in accordion_categories %}

        <div class="accordion-item bg-dark">
          <h2 class="accordion-header" id="heading{{ category.name | cut:" " }}">
            <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ category.name | cut:" " }}" aria-expanded="false" aria-controls="collapse{{ category.name | cut:" " }}">
              {{ category.name }}
            </button>
          </h2>
          <div id="collapse{{ category.name | cut:" " }}" class="accordion-collapse collapse" aria-labelledby="heading{{ category.name | cut:" " }}" data-bs-parent="#accordionGen">
            <div class="accordion-body">
              <ul>
                {% for item in category.items %}
                  <li>{{ item.entry | markdown | safe }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

      {% endfor %}
    </div>
    <!-- Accordion End -->
  </div>
{% endif %}
