{% load markdown_extras %}
{% if cards %}
<div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
  {% for card in cards %}

      <div class="col">

        <div class="card h-100 bg-info shadow" style="--bs-bg-opacity: .65;">
          <img src="{{ card.image.url }}" class="card-img-top" alt="{{ card.image_alt_text }}">
          <div class="card-body">
            <h5 class="card-title h3">{{ card.title }}</h5>
            <p class="card-text">{{ card.body | markdown | safe }}</p>
            {% if card.url and card.url_title %}
              <a href="{{ card.url }}" class="btn btn-primary">{{ card.url_title }}</a>
            {% endif %}
          </div>
        </div>

      </div>

  {% endfor %}
</div>

<hr class="my-4">

{% else %}
  <div class="row mb-2 text-center">
      <p>Oops! No cards to show I guess</p>
  </div>
{% endif %}
