{% comment "Overview" %}
    This is a generalized card layout. It expects a list of card data
    called "cards," with each card containing a value for title, body,
    image, and image_alt_text. The image must contain a url (card.image.url)
    which points to the media that will be loaded.

    Optionally, a url and url_title can be provided which will be used to create
    a button on the bottom of the card.

    This template accepts markdown via the markdown_extras template tag.
{% endcomment %}
{% load markdown_extras %}
{% if cards %}
<div class="row row-cols-1 row-cols-lg-3 g-4 mb-3">
  {% for card in cards %}

      <div class="col">

        <div class="card h-100 bg-info shadow d-flex flex-column" style="--bs-bg-opacity: .65;">
          <img src="{{ card.image.url }}" class="card-img-top" alt="{{ card.image_alt_text }}">
          <div class="card-body">
            <h5 class="card-title h3">{{ card.title }}</h5>
            <p class="card-text">{{ card.body | markdown | safe }}</p>
          </div>
	    {% if card.url and card.url_title %}
              <a href="{{ card.url }}" class="align-self-start mb-4 ms-3 btn btn-primary">{{ card.url_title }}</a>
	    {% endif %}
        </div>

      </div>

  {% endfor %}
</div>

<hr class="my-4">

{% else %}
  <div class="row mb-2 text-center">
      <p>Oops! No cards to show I guess</p>
  </div>
{% endif %}
