{% load markdown_extras %}
{% if header %}
  <!-- ***************Start of Header************** -->
  {# left #}
  {% if header.alignment == "L" %}

    <article class="row mt-3 p-4 align-items-center bg-info shadow rounded-3">
      <div class="col-lg-6 col-xl-4">
        <img src="{{ header.image.url }}" alt="{{ header.image_alt_text }}" class="img-fluid shadow rounded-3">
      </div>
      <div class="col-lg-6 col-xl-8">
        <h1 class="mt-3 mt-lg-2 mt-xl-0">{{ header.title }}</h1>
        <p>{{ header.body | markdown | safe }}</p>

      </div>
    </article>

    <hr>

  {% endif %}

  {# right #}
  {% if header.alignment == "R" %}
    <article class="row mt-4 px-3 px-xl-5 py-4 bg-info shadow rounded-3">
      <div class="col-xl-8 text-center text-xl-start py-3">
        <h1 class="mb-3">{{ header.title }}</h1>
        <img src="{{ header.image.url }}" alt="{{ header.image_alt_text }}" class="img-fluid d-xl-none mb-3 shadow rounded-3">
        <p>{{ header.body | markdown | safe }}</p>
      </div>
      <div class="col-xl-4 d-grid gap-2 gap-xl-1 ps-3">
        <img src="{{ header.image.url }}" alt="{{ header.image_alt_text }}" class="img-fluid d-none d-xl-block shadow rounded-3">
      </div>
    </article>

  {% endif %}

  {# center #}
  {% if header.alignment == "C" %}
    <article class="row justify-content-center">
      <div class="col-9 text-center p-3">
        <h1 class="">{{ header.title }}</h1>
      </div>
      <div class="col-12">
          <img src="{{ header.image.url }}" alt="{{ header.image_alt_text }}" class="img-fluid rounded-3">
      </div>
      <div class="col-12 col-md-9 text-center p-2">
        <p>{{ header.body | markdown | safe }}</p>
      </div>
    </article>
    <hr>
  {% endif %}
  <!-- ***************End of Header************** -->
{% endif %}
