{% extends "base.html" %}
{% load static %}

{% block title %} Welcome! {% endblock %}

{% block main-content %}
<!-- ****************Start of Main Container**************** -->
<div class="container">
  {% if header %}

    {% include "resume/header_layout.html" %}

  {% else %}
    <div class="row mb-2 text-center">
        <p>Oops! No header to show I guess</p>
    </div>

  {% endif %}

  <!-- ******************Card Overviews******************* -->
  <div class="row my-2 text-center">
      <h1>Current Projects</h1>
  </div>

  {% if cards %}

    {% include "resume/card_layout.html" %}

  {% else %}
    <div class="row mb-2 text-center">
        <p>Oops! No projects to show I guess</p>
    </div>
  {% endif %}
<!-- ******************End of Card Overviews******************* -->

</div>
<!-- ****************End of Main Container**************** -->
{% endblock %}
