{% extends "base.html" %}

{% comment "Overview" %}
    This is template generates a projects page. It extends header_layout to
    provide a header and slide_layout to provide slides for recent projects. Check those
    layouts to determine what data the template should be given.
{% endcomment %}

{% load static %}

{% block title %} Projects {% endblock %}

{% block main-content %}
<!-- *************Start of Main Container********************** -->
<div class="container">

  {% if header %}

    {% include "resume/header_layout.html" %}

  {% else %}
    <div class="row mb-2 text-center">
        <p>Oops! No header to show I guess</p>
    </div>

  {% endif %}

  <!-- ***************Projects List*************** -->

  {% if slides %}

    {% include "resume/slide_layout.html" %}

  {% else %}
    <div class="row mb-2 text-center">
        <p>Oops! No projects to show I guess</p>
    </div>
  {% endif %}

  <!-- ***************End of Projects List*************** -->
</div>
<!-- *************End of Main Container********************** -->
{% endblock %}
