{% extends "base.html" %}
{% load static %}

{% block title %} Projects {% endblock %}

{% block main-content %}
<!-- *************Start of Main Container********************** -->
<div class="container">
  <!-- ***************Projects Overview*************** -->
  <article class="row justify-content-center">
    <div class="col-9 text-center p-4">
      <h1 class="">Projects</h1>
    </div>
    <div class="col-12">
        <img src="img\ultrawide-test.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-12 col-md-9 text-center p-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pretium, lorem sed tempus sodales, velit justo elementum justo, in rutrum metus tortor sit amet diam. Vestibulum vitae dapibus augue, ac imperdiet lectus. Proin tincidunt nisi metus, sit amet ornare orci gravida non. Curabitur porttitor molestie felis quis dictum. Integer quis pulvinar mi, in ullamcorper sapien. Nunc eros ipsum, ultricies sit amet tellus non, sodales ornare purus. Quisque venenatis gravida orci et ultrices. Nam dignissim metus fringilla turpis ornare, vel hendrerit neque auctor. Sed sit amet dignissim eros. </p>
    </div>
  </article>
  <hr>
  <!-- ***************End of Projects Overview*************** -->

  <!-- ***************Projects List*************** -->
  <!-- NOTE: Hide and swap headers on different sizes? -->
  <section class="row p-3 bg-light">
    <div class="col-xl-5 col-xxl-4">
      <img src="img\proj-16-9.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-xl-7 col-xxl-8 text-xl-end">
      <h1 class="mt-2 mt-xl-0 mb-xxl-3">Project Name</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pretium, lorem sed tempus sodales, velit justo elementum justo, in rutrum metus tortor sit amet diam. Vestibulum vitae dapibus augue, ac imperdiet lectus. Proin tincidunt nisi metus, sit amet ornare orci gravida non. Curabitur porttitor molestie felis quis dictum. Integer quis pulvinar mi, in ullamcorper sapien. Nunc eros ipsum, ultricies sit amet tellus non, sodales ornare purus. Quisque venenatis gravida orci et ultrices. Nam dignissim metus fringilla turpis ornare, vel hendrerit neque auctor. Sed sit amet dignissim eros. Nam dignissim metus fringilla turpis ornare, vel hendrerit neque auctor.</p>
    </div>
  </section>

  <hr>

  <section class="row p-3 bg-light">
    <div class="order-first order-xl-last col-xl-5 col-xxl-4">
      <img src="img\proj-16-9.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-xl-7 col-xxl-8">
      <h1 class="mt-2 mt-xl-0 mb-xxl-3">Project Name</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pretium, lorem sed tempus sodales, velit justo elementum justo, in rutrum metus tortor sit amet diam. Vestibulum vitae dapibus augue, ac imperdiet lectus. Proin tincidunt nisi metus, sit amet ornare orci gravida non. Curabitur porttitor molestie felis quis dictum. Integer quis pulvinar mi, in ullamcorper sapien. Nunc eros ipsum, ultricies sit amet tellus non, sodales ornare purus. Quisque venenatis gravida orci et ultrices. Nam dignissim metus fringilla turpis ornare, vel hendrerit neque auctor. Sed sit amet dignissim eros. Nam dignissim metus fringilla turpis ornare, vel hendrerit neque auctor.</p>
    </div>
  </section>

  <hr>

  <section class="row p-3  bg-light">
    <div class="col-xl-5 col-xxl-4">
      <img src="img\proj-16-9.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-xl-7 col-xxl-8 text-xl-end">
      <h1 class="mt-2 mt-xl-0 mb-xxl-3">Project Name</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pretium, lorem sed tempus sodales, velit justo elementum justo, in rutrum metus tortor sit amet diam. Vestibulum vitae dapibus augue, ac imperdiet lectus. Proin tincidunt nisi metus, sit amet ornare orci gravida non. Curabitur porttitor molestie felis quis dictum. Integer quis pulvinar mi, in ullamcorper sapien. Nunc eros ipsum, ultricies sit amet tellus non, sodales ornare purus. Quisque venenatis gravida orci et ultrices. Nam dignissim metus fringilla turpis ornare, vel hendrerit neque auctor. Sed sit amet dignissim eros. Nam dignissim metus fringilla turpis ornare, vel hendrerit neque auctor.</p>
    </div>
  </section>

  <hr>

  <!-- ***************End of Projects List*************** -->
</div>
<!-- *************End of Main Container********************** -->
{% endblock %}
