{% extends "base.html" %}
{% load static %}

{% block title %} Resume {% endblock %}

{% block main-content %}
<!-- **********************Main Container*********************** -->
<div class="container">

  {% if header %}

    {% include "resume/header_layout.html" %}

  {% else %}
    <div class="row mb-2 text-center">
        <p>Oops! No header to show I guess</p>
    </div>

  {% endif %}

  <div class="row my-2 text-center">
      <h1>Education and Experience</h1>
  </div>

  {% if accordion_categories %}

    {% include "resume/accordion_layout.html" %}

  {% else %}
    <div class="row mb-2 text-center">
        <p>Oops! No accordion data to show I guess</p>
    </div>

  {% endif %}

  </div>
  <!-- *******************Resume Items******************** -->


  <!-- *******************End of Resume Items******************** -->
</div>
<!-- **********************End of Main Container*********************** -->
{% endblock %}
