{% extends "base.html" %}
{% load static %}

{% block title %} Welcome! {% endblock %}

{% block main-content %}
<!-- ****************Start of Main Container**************** -->
<div class="container">

    <div class="row mb-2 justify-content-center mt-5">
      <div class="col-6">
          <h1>Music Player</h1>
      </div>
    </div>

    <div class="row mb-2 mt-3 justify-content-center">
      <div class="col-6">
          <p>
            Hey There! This app is still under development. Just felt weird
            to put up a website with a navigation bar link just not working.
            If you wanted music, you can checkout <a href="https://lucahdecass.bandcamp.com/" class="link-light">my bandcamp site.</a>
          </p>
      </div>
    </div>

</div>
<!-- ****************End of Main Container**************** -->
{% endblock %}
