{% extends "base.html" %}

{% comment "Overview" %}
    This is an html template that creates the music player layout.
    All data retrieval for music is done via JavaScript in communication
    with the app's REST API.
{% endcomment %}

{% load static %}

{% block title %} Music Player {% endblock %}

{% block head-add %}
<!-- NOTE: Replace this with npm version once certain things are working ggenerally -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js" integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'portfolio_music_player/js/music_models.js' %}" defer></script>
<script src="{% static 'portfolio_music_player/js/music_player.js' %}" defer></script>
<script src="{% static 'portfolio_music_player/js/music_player_interface.js' %}" defer></script>
<script src="{% static 'portfolio_music_player/js/music_download_interface.js' %}" defer></script>
<script src="{% static 'portfolio_music_player/js/music_setup.js' %}" defer></script>
{% endblock %}

{% block main-content %}
<!-- **************************Music Player***************** -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-9 text-center mt-3">
      <h1 class="">Music Player</h1>
      <p id="test"></p>
    </div>
  </div>

  <div class="row mt-3 mb-4 justify-content-center">
    <!-- Play Controls -->
    <div class="col-lg-8 border position-relative h-100" id="playerContainer">

        <!-- SOMETHING SOMEWHERE CAUSES THIS TO MOVE 12 PX LEFT AND I CAN'T FIND IT SO ENJOY THE start-0 -->
        <div class="flex-row w-100 h-100 px-3 start-0 collapse" id="collapseTrackList">
        <!-- Start in collapse -->

          <!-- Top bar for closing the collapse -->
          <div class="d-flex flex-column mt-3">
            <button id="trackCollapseCloseBtn" class="btn btn-info border align-self-end" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTrackList" aria-expanded="false" aria-controls="collapseTrackList">
              Close Track List
            </button>
          </div>

          <!-- Select Album Area -->
          <div class="col-5" id="albumSelectionList">
            <label for="albumSelection" class="form-label h4 d-none d-xl-block">Show tracks from:</label>
            <label for="albumSelection" class="form-label h5 d-none d-sm-block d-xl-none">Show tracks from:</label>
            <label for="albumSelection" class="form-label mt-1 h6 d-sm-none">Show tracks from:</label>
          </div>

          <div class="col-7 mb-2">
            <select id="albumSelection" name="albumSelection" class="form-select bg-info text-light">

            </select>
          </div>

          <hr class="d-none d-sm-block">
          <br class="d-sm-none">
          <!-- Song List -->
          <div class="col-12">
            <ul class="list-group mb-3 overflow-scroll" id="trackSelectionScroll" aria-label="track selection list">
            </ul>
          </div>

          <!-- End of Collapsable Song List -->

        <!-- End of Collapse -->
        </div>

        <!-- Top bar for the collapse, if screen size shrinks -->
        <div class="d-flex flex-row justify-content-between mt-3">
          <button id="downloadPopupBtn" class="btn btn-info border align-self-start" type="button" data-bs-toggle="modal" data-bs-target="#downloadModal">
            Download
          </button>
          <button id="trackCollapseOpenBtn" class="btn btn-info border align-self-end" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTrackList" aria-expanded="false" aria-controls="collapseTrackList">
            Track List
          </button>
        </div>

        <div class="p-3" id="mainPlayer">
          <!-- Album Cover/Title.... gonna have to find a way to auto-crop I guess -->
          <img src="{% static 'portfolio_music_player/img/loader.gif' %}" alt="Album Cover" class="img-fluid mx-auto d-block" id="albumCover">

          <div class="d-flex flex-column mt-2 fs-5">
            <p class="align-self-center text-center" id="trackName">Loading...</p>
            <p class="align-self-center text-center" id="albumName">Loading...</p>
          </div>

          <!-- Time Info -->
          <div class="d-flex flex-row">
            <!-- Timestamps -->
            <p class="me-3" id="trackTime">Loading...</p>
            <!-- Slidy Bit -->
            <input type="range" class="form-range" id="trackSlider" aria-label="Track Progress Bar">
          </div>

          <!-- Buttons for days -->
          <div class="btn-group btn-group-lg d-flex justify-content-center mb-3">
            <button class="btn btn-info border" id="prevBtn" name="prevBtn" aria-label="Previous Song Button">
              <img class="img-fluid" width="40em" height="40em" src="{% static 'portfolio_music_player/img/prev_icon.svg' %}" alt="previous button image">
            </button>
            <button class="btn btn-info border" id="playPauseBtn" name="playPauseBtn" aria-label="Play Song Button">
              <img class="img-fluid" width="40em" height="40em" src="{% static 'portfolio_music_player/img/play_icon.svg' %}" id="playPauseImg" alt="playbutton image">
            </button>
            <button class="btn btn-info border" id="nextBtn" name="nextBtn" aria-label="Next Song Button">
              <img class="img-fluid" width="40em" height="40em" src="{% static 'portfolio_music_player/img/next_icon.svg' %}" alt="next button image">
            </button>
          </div>
        </div>

      </div>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="downloadModal" tabindex="-1" aria-labelledby="downloadModalLabel" aria-hidden="true">
    <div class="modal-dialog text-dark">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="downloadModalLabel">Download Menu</h5>
          <button type="button" class="btn-close dl-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            I'm so happy you decided to download some of my music! Use the form below
            to pick your song/album.
          </p>
          <p id="currentlyPlaying"></p>
          <form id="downloadForm" class="">

            <div class="form-check my-3">
              <label class="form-check-label" for="singleSongDownloadCheck">
                Download full album.
              </label>
              <input class="form-check-input" type="checkbox" value="" id="singleSongDownloadCheck">
            </div>

            <label for="fileTypeSelection" class="form-label h4">File type (mp3 recommended):</label>
            <select id="fileTypeSelection" name="fileTypeSelection" class="form-select bg-info text-light">
              <option value="mp3">mp3</option>
              <option value="flac">flac</option>
              <option value="webm">webm</option>
            </select>

            <label for="albumDownloadSelection" class="form-label h4 mt-3">Album to download:</label>
            <select id="albumDownloadSelection" name="albumDownloadSelection" class="form-select bg-info text-light">

            </select>

            <label id="songDownloadSelectionLabel" for="songDownloadSelection" class="form-label h4 mt-3">Song to download:</label>
            <select id="songDownloadSelection" name="songDownloadSelection" class="form-select bg-info text-light">

            </select>
          </form>

          <p class="mt-4">
            Donations accepted via <a href="https://paypal.me/micahhuffmakes?country.x=US&locale.x=en_US">Paypal!</a>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary dl-close" data-bs-dismiss="modal">Close</button>
          <button id="downloadConfirmationBtn" type="button" class="btn btn-primary" data-bs-dismiss="modal">Download</button>
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  const pauseIconUrl = "{% static 'portfolio_music_player/img/pause_icon.svg' %}";
  const playIconUrl = "{% static 'portfolio_music_player/img/play_icon.svg' %}";
</script>

<!-- **************************End of Music Player***************** -->
{% endblock %}
