{% extends "base.html" %}

{% comment "Overview" %}
    This is template generates a writing landing page. It extends header_layout to
    provide a simple list view for me to post my writing
{% endcomment %}

{% load static %}

{% block title %} Writing {% endblock %}

{% block head-add %}
<link href="{% static 'writing/css/writing-lists.css' %}" rel="stylesheet" >
{% endblock %}

{% block main-content %}
<!-- *************Start of Main Container********************** -->
<div class="container">

  <div class="row justify-content-center">
    <div class="col-9 text-center mt-3">
      <h1 class="">Writing</h1>
      <p id="test"></p>
    </div>
  </div>


  <!-- ***************Writing Lists*************** -->

      {% if writings %}
        <ul class="writing-list">
          {% for writing_item in writings %}
            {% include 'writing/writing_item.html' %}
          {% endfor %}
        </ul>
      {% else %}
        <p>No writings Found.</p>
      {% endif %}
  

  <!-- ***************End of Writing Lists*************** -->
</div>
<!-- *************End of Main Container********************** -->
{% endblock %}
